{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo;
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo;
    <a href="{% url 'admin:game_promocode_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo;
    Генерация промокодов
  </div>
{% endblock %}

{% block content %}
  <h1>Генерация промокодов</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div class="submit-row">
      <input type="submit" value="Сгенерировать" class="default">
      <a href="{% url 'admin:game_promocode_changelist' %}" class="button cancel-link">Отмена</a>
    </div>
  </form>
{% endblock %}
